.mainProjects {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  background: linear-gradient(to top,white 0%, white 50%, rgba(0,143,84,0.9948354341736695) 50%, rgba(0,143,84,0.9948354341736695) 100%);

}