
.logo {
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(to right, rgba(0,143,84,0.9948354341736695) 0%,  rgba(0,143,84,0.9948354341736695) 50% , white 50%, white 100%) !important;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: center;

}

// a, a:link, a:visited, a:focus, a:hover, a:active {
    // list-style: none;
    // text-decoration: none;
    // font-size: 3rem;
//   }